{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile | Gainz Center</title>
    <link rel="stylesheet" href="{% static 'gainz_center_app/css/styles.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="{% static 'gainz_center_app/temporal-image-folder/logo-(small).png' %}" type="image/x-icon">
</head>

<body>
    <header class="irish-grover-font">
        <img alt="gainz center logo" src="{% static 'gainz_center_app/temporal-image-folder/logo-(large).png' %}">
        <div>
            <h1>GAINZ CENTER</h1>
            <h3>Your go-to place for massive gainz!</h3>
        </div>
    </header>

    <nav class="irish-grover-font">
        <a href="{%url 'home' %}">Home</a>
        <a href="{% url 'about' %}">About</a>
        <a href="{% url 'faqs' %}">FAQs</a>
        <a href="{% url 'our-gym' %}">Our Gym</a>
        <a href="">My Profile</a>
        <div>
            <a href="{% url 'my-sessions' %}">My Sessions</a>
            <a href="{% url 'personal-trainers' %}">Personal Trainers</a>
        </div>
    </nav>

    <section>
        <h2 class="irish-grover-font page-header-text">My Profile</h2>
        <div class="basic-font intro">
            <p class="small-device-text">Below are all your profile details. If anything is wrong then please contact us and we will be able to rectify any issues!</p>
        </div>
    </section>

    <section>
        <table class="profile-table small-device-text">
            <tr>
                <td class="profile-headings irish-grover-font">Name</td>
                <td class="profile-details basic-font">{{ user.person_name }}</td>
            </tr>
            <tr>
                <td class="profile-headings irish-grover-font">Username</td>
                <td class="profile-details basic-font">{{ user.username }}</td>
            </tr>
            <tr>
                <td class="profile-headings irish-grover-font">Email</td>
                <td class="profile-details basic-font">{{ user.email }}</td>
            </tr>
            <tr>
                <td class="profile-headings irish-grover-font">Mobile</td>
                <td class="profile-details basic-font">{{ user.mobile }}</td>
            </tr>
            <tr>
                <td class="profile-headings irish-grover-font">Date of Birth</td>
                <td class="profile-details basic-font">{{ user.dob }}</td>
            </tr>
        </table>
    </section>

    <section>
        <div class="profile-actions">
            <button class="profile-button irish-grover-font small-device-text" onclick="openDialog(1)">Change Password</button>
            <button class="profile-button irish-grover-font small-device-text" onclick="openDialog(2)">Change Email</button>
            <button class="profile-button irish-grover-font small-device-text" onclick="openDialog(3)">Delete Account</button>
            <form action="{% url 'logout' %}" method="post" id="logout-form" style="display: inline;">
                {% csrf_token %}
                <input type="submit" value="Logout" class="profile-button irish-grover-font small-device-text">
            </form>
        </div>
        
        {% if messages %}
        <div style="justify-items: center; text-align: center;">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} basic-font">
                {{ message }}
                <button class="close-alert" onclick="this.parentElement.style.display='none';">&times;</button>
            </div>
            {% endfor %}
        </div>
        {% endif %}


    </section>

    <section>
        <div id="dialog" class="dialog profile-dialog" style="display: none;">
            <div class="dialog-content" id="dialog-content">
                <span class="close-btn" id="close-dialog-btn" onclick="closeDialog();">&times;</span>
                <div id="change-email-div" class="change-profile" style="display: none">
                    <h3 class="irish-grover-font page-header-text">Change email</h3>
                    <form id="change-email-form" class="auth-form" method="post" action="{% url 'change-email' %}">
                        {% csrf_token %}
                        <input type="email" id="email-change" name="email-change" class="auth-form-fields" placeholder="Enter your new email here*"
                            required><br>
                        <button type="submit" class="auth-button irish-grover-font">Change email</button><br>
                    </form>
                </div>

                <div id="change-password-div" class="change-profile" style="display: none">
                    <h3 class="irish-grover-font page-header-text">Change password</h3>
                    <form id="change-pass-form" class="auth-form" method="post" action="{% url 'change-password' %}">
                        {% csrf_token %}
                        <input type="password" id="old-pass" name="old-pass" class="auth-form-fields" placeholder="Enter your current password here*"
                            required><br>
                        <input type="password" id="new-pass" name="new-pass" class="auth-form-fields" placeholder="Enter your new password here*"
                            required><br>
                        <input type="password" id="new-pass-conf" name="new-pass-conf" class="auth-form-fields" placeholder="Re-enter your new password here*"
                            required><br>
                        <button type="submit" class="auth-button irish-grover-font">Change password</button><br>
                    </form>
                </div>

                <div id="delete-acc-div" class="change-profile" style="display: none">
                    <h3 class="irish-grover-font page-header-text">Delete account</h3>
                    <div>
                        <h4 class="basic-font small-device-text" style="font-weight: 600; text-align: center;">WARNING: If you delete your account you lose your membership, and you lose all of your gym records! Enter your password below to confirm that you understand this.</h4>
                    </div>
                        <form id="del-acc-form" class="auth-form" method="post" action="{% url 'delete-account' %}">
                            {% csrf_token %}
                        <input type="password" id="pass-acc-del" name="pass-acc-del" class="auth-form-fields" placeholder="Enter your password to confirm*"
                            required><br>
                        <button type="submit" class="auth-button irish-grover-font">Delete account</button><br>
                    </form>
                </div>
            </div>
        </div>
    </section>


    <script src="{% static 'gainz_center_app/js/script.js' %}"></script> <!-- Link to JavaScript -->
</body>

</html>