{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQs | Gainz Center</title>
    <link rel="stylesheet" href="{% static 'gainz_center_app/css/styles.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="{% static 'gainz_center_app/temporal-image-folder/logo-(small).png' %}" type="image/x-icon">
</head>

<body>
    <header class="irish-grover-font">
        <img alt="gainz center logo" src="{% static 'gainz_center_app/temporal-image-folder/logo-(large).png' %}">
        <div>
            <h1>GAINZ CENTER</h1>
            <h3>Your go-to place for massive gainz!</h3>
        </div>
    </header>

    <nav class="irish-grover-font">
        <a href="{%url 'home' %}">Home</a>
        <a href="{% url 'about' %}">About</a>
        <a href="">FAQs</a>
        <a href="{% url 'our-gym' %}">Our Gym</a>
        <a href="{% url 'my-profile' %}">My Profile</a>
        <div>
            <a href="{% url 'my-sessions' %}">My Sessions</a>
            <a href="{% url 'personal-trainers' %}">Personal Trainers</a>
        </div>
    </nav>

    <section>
        <h2 class="irish-grover-font page-header-text">My Sessions</h2>
        <div class="basic-font intro">
            <p class="small-device-text">Below are all of your recorded sessions! Click on each session to see more details of the exercises you did during that session! To record a new session, simply click the button below.</p>
            <button class="profile-button irish-grover-font small-device-text" onclick="openDialog(0)">Add New Session</button>
        </div>
    </section>

    <section>
        {% if sessions %}
            {% for session in sessions %}
            <div class="collapsible-div">
                <div class="collapsible-header">
                    <h3 class="irish-grover-font">Session on {{ session.date_of_session }}</h3>
                    <div id="arrow" class="arrow">&#9660;</div> <!-- Down arrow -->
                </div>
                <div class="collapsible-content">
                    <div class="start-and-end-times">
                        <span>
                            <p class="irish-grover-font">Start time:</p>
                            <p class="basic-font">{{ session.check_in_time|date:"g a" }}</p>
                        </span>
                        <span>
                            <p class="irish-grover-font">End time:</p>
                            <p class="basic-font">{{ session.check_out_time|date:"g a" }}</p>
                        </span>
                    </div>
            
                    <h4 class="irish-grover-font">Exercises Performed</h4>
                    <table class="session-exercises">
                        <tr class="irish-grover-font">
                            <th>Name</th>
                            <th>Set</th>
                            <th>Reps</th>
                            <th>Weight</th>
                        </tr>
                        {% for exercise in exercises %}
                            {% if exercise.session_id == session %}
                            <tr class="basic-font">
                                <td>{{ exercise.exercise_name }}</td>
                                <td>{{ exercise.set_number }}</td>
                                <td>{{ exercise.reps }}</td>
                                <td>{{ exercise.weight }}{{ exercise.unit }}</td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <div class="basic-font intro" style="margin-top: 50px;">
                <p class="small-device-text">No recorded gym sessions were found. Please add a new session by clicking the button above.</p>
            </div>
        {% endif %}
        
    </section>

    <section>
        <div id="dialog" class="dialog" style="display: none;">
            <div class="dialog-content session-dialog" id="dialog-content">
                <span class="close-btn" id="close-dialog-btn" onclick="closeDialog();">&times;</span>
                <div>
                    <h3 class="irish-grover-font page-header-text">Add New Session</h3>
                </div>
                <form id="new-session">
                    {% csrf_token %}
                    <div class="new-session-times">
                        <span>
                            <label for="start-time" class="basic-font">Start time: </label>
                            <input type="time" name="start-time" id="start-time" style="margin-right:20px;" required>
                        </span>
                        <span>
                            <label for="end-time" class="basic-font">End time: </label>
                            <input type="time" name="end-time" id="end-time" required>
                        </span>
                    </div>

                    <div>
                        <br>
                        <h4 class="irish-grover-font page-header-text">What did you train?</h4>
                    </div>

                    <div>
                        <h5 class="basic-font" style="margin: 5px;">Your exercises will appear here below</h5>
                        <div class="show-exercises">
                            <table class="session-exercises"  id="show-new-exercises">
                                <tr class="irish-grover-font">
                                    <th>Name</th>
                                    <th>Set</th>
                                    <th>Reps</th>
                                    <th>Weight</th>
                                </tr>
                                <!--to use JavaScript to inject the other items here-->
                                
                            </table>
                        </div>
                    </div>

                    <div>
                        <h5 class="basic-font" style="margin: 5px;">Input your exercise details here below</h5>
                        <div>
                            <span class="input-exercises" id="input-exercises">
                                <select id="name-choice">
                                    <option value="" disabled selected>Exercise name</option>
                                    {% if list_exercises %}
                                        {% for ex in list_exercises %}
                                            <option value="{{ ex.exercise_name }}">{{ ex.exercise_name }}</option>
                                        {% endfor %}
                                    {% endif %}
                                </select>
                                <input type="number" id="set-input" style="width: 50px;" placeholder="Set">
                                <input type="number" id="reps-input" style="width: 50px;" placeholder="Reps">
                                <input type="number" id="weight-input" style="width: 70px;" placeholder="Weight">
                                <select id="unit-input">
                                    <option value="" disabled selected>Unit</option>
                                    <option value="kg">kg</option>
                                    <option value="lb">lb</option>
                                </select>
                            </span>
                            <div style="display: flex;justify-content: right; margin-top:5px;">
                                <button type="button" class="auth-button irish-grover-font" id="add-exercise">Add exercise</button>
                            </div>
                            <div>
                                <p id="missing-input" class="basic-font intro" style="color: red; text-align: center; font-size: small; font-weight: 600;"></p>
                            </div>
                        </div>
                    </div>

                    <div style="margin-top:15px;">
                        <h5 class="basic-font">Click here to create your new session</h5>
                        <input type="submit" value="Add new session" class="irish-grover-font auth-button" style="width: auto" id="new-session-btn">
                    </div>
                    
                </form>
                
            </div>
        </div>
    </section>


    <script src="{% static 'gainz_center_app/js/script.js' %}"></script> <!-- Link to JavaScript -->
</body>

</html>