{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Gym | Gainz Center</title>
    <link rel="stylesheet" href="{% static 'gainz_center_app/css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="{% static 'gainz_center_app/temporal-image-folder/logo-(small).png' %}" type="image/x-icon">
</head>

<body>
    <header>
        <img alt="gainz center logo" src="{% static 'gainz_center_app/temporal-image-folder/logo-(large).png' %}">
        <div>
            <h1>GAINZ CENTER</h1>
            <h3>Your go-to place for massive gainz!</h3>
        </div>
    </header>

    <nav>
        <a href="{%url 'home' %}">Home</a>
        <a href="{% url 'about' %}">About</a>
        <a href="{%url 'faqs' %}">FAQs</a>
        <a href="">Our Gym</a>
        <a href="">Login</a>
    </nav>
    
    <section>
        <h2>Our Gym</h2>
        <p>Our gym is fully stacked up with state-of-the-art equipment from respectable brands. We have everything from
            cable machines, a wide range of dumbbells, benches to squat racks. Below is a list of all equipment that we have
            available at the gym!</p>
    </section>

    <section>

    </section>


    <script src="{% static 'brewsters_app/js/script.js' %}"></script> <!-- Link to JavaScript -->
</body>

</html>