{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQs | Gainz Center</title>
    <link rel="stylesheet" href="{% static 'gainz_center_app/css/styles.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="{% static 'gainz_center_app/temporal-image-folder/logo-(small).png' %}" type="image/x-icon">
</head>

<body>
    <header class="irish-grover-font">
        <img alt="gainz center logo" src="{% static 'gainz_center_app/temporal-image-folder/logo-(large).png' %}">
        <div>
            <h1>GAINZ CENTER</h1>
            <h3>Your go-to place for massive gainz!</h3>
        </div>
    </header>

    <nav class="irish-grover-font">
        <a href="{%url 'home' %}">Home</a>
        <a href="{% url 'about' %}">About</a>
        <a href="{% url 'faqs'%}">FAQs</a>
        <a href="{% url 'our-gym' %}">Our Gym</a>
        <a href="{% url 'login' %}">Login</a>
    </nav>

    <section>
        <h2 class="irish-grover-font page-header-text">Sign Up</h2>
        <div class="basic-font intro">
            <p class="small-device-text">You’re making the right decision! It’s very easy to sign up to the gym! Just fill out your details and pay the initial fee, and you’re all good to go!</p>
        </div>
    </section>

    <section>
        <div class="auth-details">
            <form id="signup-form" class="auth-form" method="post" action="{% url 'signup' %}">
                {% csrf_token %}
                <input id="name-sign-up" name="name-sign-up" type="text" placeholder="Enter your full name*" class="auth-form-fields" required>
                <br>
                <input id="username-sign-up" name="username-sign-up" type="text" placeholder="Create a username*" class="auth-form-fields" required>
                <br>
                <input id="email-sign-up" name="email-sign-up" type="email" placeholder="Enter your email here*" class="auth-form-fields" required>
                <br>
                <input id="number-sign-up" name="number-sign-up" type="tel" placeholder="Enter your mobile here*" class="auth-form-fields" required>
                <br>
                <input id="dob-sign-up" name="dob-sign-up" type="date" placeholder="Enter your date of birth here*" class="auth-form-fields" required>
                <br>
                <input id="password1" name="password1" type="password" placeholder="Enter your password here*" class="auth-form-fields" required>
                <br>
                <input id="password2" name="password2" type="password" placeholder="Re-enter your password here*" class="auth-form-fields" required>
                <br>
                <h3 class="irish-grover-font intro small-device-text">By clicking the button below you are consenting to a simulated recurring fee of £29.99 for your membership</h3>
                <input type="submit" value="SIGN UP" class="auth-button">
            </form>
        </div>
    </section>


    <script src="{% static 'gainz_center_app/js/script.js' %}"></script>
</body>

</html>